.header{
	font-size: 30px;
    line-height: 70px;
    margin-left: 200px;
    color: #1a7fd9;
}
.box{
	width:100%;
	/*background: #3075bd;*/
	position:absolute;
	top:70px;
	bottom:0;
	left:0;
	right:0;
	/*height:400px;*/
	background-image:url(../img/bg-3.png);
	background-repeat: no-repeat;
	background-size:100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#115fbb+0,5294df+48,226bc0+100 */
	/*background-color: rgb(17,95,187); /* Old browsers */
    /*background-color: -moz-linear-gradient(top,  rgba(17,95,187,1) 0%, rgba(82,148,223,1) 48%, rgba(34,107,192,1) 100%); 
    background-color: -webkit-linear-gradient(top,  rgba(17,95,187,1) 0%,rgba(82,148,223,1) 48%,rgba(34,107,192,1) 100%); 
    background-color: linear-gradient(to bottom,  rgba(17,95,187,1) 0%,rgba(82,148,223,1) 48%,rgba(34,107,192,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#115fbb', endColorstr='#226bc0',GradientType=0 ); */

}
.left-bg{
	width:550px;
	transform: translate(30%,15%);
}
.left-bg img{
	width:100%;
}
.box-logon{
	position:relative;
	height:400px;
	width:762px;
	left:50%;
	top:50%;
	/*margin-left:-381px;
	margin-top:-225px;*/
}
.b-login h4{
	color: #fff;
    font-size: 26px;
    position: absolute;
    top: -50px;
}
.b-login h5{
	margin: 10px 20px;
    color: #4ca2e8;
    font-size: 18px;
    font-weight: normal;
}
    
.b-login{
	height: 340px;
    width: 345px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 10%;
    margin-top: -200px;
	/*padding:10px;*/
	/*box-shadow: 0 0 3px #2a67a7;*/
}
.t-tupian{
	float:left;
	width:245px;
	height:240px;
	background: url(../img/tupian_03.png);
	margin: 18px 0px 45px 50px;
}
.login-y{
	/* padding: 23px 75px; */
    background: #fff;
    width: 252px;
    float: right;
    margin: 0px 45px 0px 24px;
}
.dl-dlu{
	color: #187dd9;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
    margin-left: 50px;
}
.b-login ul{
	text-align: center;
	
}
.b-login ul li{
	position:relative;
	margin-bottom: 20px;
}
.b-login-top{
	height:60px;
	width:100%;
	background:#ccc;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0073d8+0,00a0ea+52,0366bc+100 */
	background: rgb(0,115,216); /* Old browsers */


}
.yonghuming, .mima {
    width: 96%;
    height: 40px;
    border: 1px solid #e2e2e2;
   /* border-radius: 5px;*/
    /* background: #c5c5c5; */
    padding-left: 30px;
    padding-right: 5px;
}
.jizhumima {
    position: relative;
    /* left: 5px; */
    float: left;
    padding-left: 20px;
    }
.wangjimima {
    float: right;
}
.forget {
    color: #999;
    font-size: 14px;
    margin-top: 10px;
    height: 20px;
    line-height: 20px;
    /*padding: 0 13px;*/
}
.denglu {
    /*width: 100%;*/
    height: 40px;
    /* border: 1px solid #ececec; */
    background: #ef7e0f;
   /* border-radius: 5px;*/
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    display: block;
    margin: 30px 4px 30px 4px;
    text-align: center;
}
.denglu:hover {
    
    background: #d56a02;
    
}
.l-daoying{
	height: 200px;
    width: 762px;
    position: absolute;
    top: 68%;
    left: 50%;
    margin-left: -381px;
    background: url(../img/daoying.png);
    margin-top: -8px;
}
.l-daoying p{
	margin-top: 80px;
    text-align: center;
    color: #fff;
    /* opacity: 0.2; */
}
